<!DOCTYPE html>
<html>
  <head>
    <title>Planets</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="col-4 navbar-brand">
  			Planets of the Solar System
  		</div>
  	</nav>

    <br class="clear" />

    <div class="col-3 left-arrow">
      <%= link_to '< Previous planet', "#" %>    
    </div>

    <div class="col-10 right-arrow">
      <%= link_to 'Next planet >', planet_path(@planet.id + 1) %>
    </div>

    <%= yield %>
  </body>
</html>